doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/static/scss/temp.css")
    script(defer src="/socket.io/socket.io.js")
    script(defer src="/static/js/app.js")
    title ZOOM Clone

  body 
    header 
      h1 Code:Me 
        span WebRTC
    main
      div(id="roomContainer")
        form(id="roomForm")
          input(id="roomInput" type="text", placeholder="Room Name", required autocomplete="off")
          button Enter Room

      div(id="call")
        div(class="videoContainer")
          div(id="myStream")
            video(id="myFace" autoplay, playsinline, width="400", height="400")
            div(class="btns")
              select(id="cameras")
              button(id="audioSwitch") Audio Off
              button(id="videoSwitch") Video Off
          div(id="peerStream" )
            video(id="yourFace" autoplay, playsinline, width="400", height="400")
      div(id="chatContainer")
        ul
        form(id="chatForm" autocomplete="off") 
          input(id="chatInput" type="text", placeholder="chat")
          button Submit